[Unit]
Description=Gunicorn server for otg.tj-t.com

[Service]
Restart=on-failure  
User=ubuntu  
WorkingDirectory=/home/ubuntu/sites/otg.tj-t.com  
EnvironmentFile=/home/ubuntu/sites/otg.tj-t.com/.env  

ExecStart=/home/ubuntu/sites/otg.tj-t.com/virtualenv/bin/gunicorn \
    --bind unix:/tmp/otg.tj-t.com.socket \
    superlists.wsgi:application  

[Install]
WantedBy=multi-user.target 
